.git
.github
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
.env.*
.DS_Store
deployment/terraform/.terraform
deployment/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
